html{
    width: 100%;
    padding: 10px 10px 10px 10px;
}
body{
    display: block;
}
/* ------------------------------------- */
/* desktop 규격 */
/* ------------------------------------- */
@media screen and (min-width: 795px){    
    body{
        background-color: aqua;
    }
    .headermMasterDiv1{
        display: block;
        height: 17%;
        margin: 10px 10px 10px 10px;      
        overflow: hidden;  
    }
    .hedaerDetailDiv1{
        float: left;
        font-size: 35px; 
    }
    .hedaerDetailDiv2{
        font-size: 20px; 
        float: right;
        overflow: hidden;
    }
    .hedaerDetailDiv2 > div{
        float: left;
        padding: 10px 10px 10px 10px;
    }
    .hedaerDetailDiv2 > div:hover{        
        color: orange;
    }
    .headermMasterDiv2{
        display: none;
    }
    .bodyMasterDiv{
        height: 80%;
        position: relative;
    }
    .goolgeDiv{
        text-align: center;
        padding: 10px 0px;
        height: 5%;
        display: flex;
        font-size: 30px;
        overflow: hidden;
        justify-content: center;
    }
    .goolgeDiv > form{
        overflow: hidden;
        box-sizing: border-box;
        width: 100%;
        justify-content: center;
        display: flex;
    }
    .goolgeDiv > form > span{
        margin: 0px 10px;
        float: left;
    }
    .goolgeDiv >  form > input{
        border-radius: 10px;
        width: 35%;
        float: left;
    }
    .videoDiv{
        text-align: center;
        margin: 0 auto;
        height: 10%;
    }
    .cardMasterDiv{
        height: 450px;
    }
    .cardMaster{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }.cardMaster .card{
        position: absolute;
        width: 240px;
        height: 320px;
        border-radius: 8px;
        background: #5e5cfc;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 0.2);
        font-size: 8em;
        font-weight: 700;
        border: 10px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: 0.5s;
        transform-origin: 50% 100%;
        filter: hue-rotate(calc(var(--i) * 65deg));
        box-shadow: 0 15pc 50px rgba(0, 0, 0, 0.1);
    }    
    .cardMaster:hover .card{
        transform: rotate(calc(var(--i) * 5deg)) translate(calc(var(--i) * 120px),-50px);
        color: rgba(0, 0, 0, 0.25);
        box-shadow: 0 15pc 50px rgba(0, 0, 0, 0.3);
    }
    .cardMaster:active .card{
        background: #333;
    
    }
    .cardMaster .card:active{
        translate: calc(var(--i)*20px) -50px;
        z-index: 100;
        background: #5e5cfc;
    }
    .sliedDivMaster {
        position: relative;
        overflow: hidden;        
        width: 600px;
        height: 400px;
        margin: 0 auto;
    }
    
    .sliedImageDiv {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    
      animation: slider 7.5s infinite linear;
    }
    
    .sliedImageDiv:nth-child(1) {
      background-image: url(image01.jpg);
      animation-delay: 0;
    }
    .sliedImageDiv:nth-child(2) {
      background-image: url(image03.jpg);
      animation-delay: -2.5s;
    }
    .sliedImageDiv:nth-child(3) {
      background-image: url(image04.jpg);
      animation-delay: -5s;
    }
    @keyframes slider {
      0% {
        transform: translateX(0);
      }
    
      26% {
        transform: translateX(0);
      }
      33% {
        transform: translateX(-100%);
        animation-timing-function: step-end;
      }
      93% {
        transform: translateX(100%);
      }
    
      100% {
        transform: translateX(0);
      }
    }      

    .imgArrayDiv{
        height: 80%;
        width: 100%;
        overflow: hidden;
    }
    .imgDiv{
        width: 30%;
        float: left;
        justify-content: center;
        padding: 10px 10px 10px 10px;
        text-align: center;
        position: relative;
    }
    .imgDiv > .mainImage{
        width: 100%;
        border-radius:15px;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5);
    }
    .imgDiv > .bookMarkImage{
        width: 30px;
        right: 25px;
        top: 15px;
        position: absolute;
    }
    .imageName{
        font-size: 30px;
        font-weight: 500;
        margin-top: 10px;
    }
    .explanation{
        font-size: 20px;
        margin-top: 10px;
    }
    .imgDiv:hover > .mainImage{
        width: 100%;
        border-radius:15px;
        box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.5);
    }
    .imgDiv:hover > .bookMarkImage{
        width: 30px;
        right: 25px;
        top: 15px;
        position: absolute;
        content: url(bookMark02.png);
    }
    .footerMsterDiv{
        width: 100%;
        height: calc(100%-96%);
        bottom: 0px;
        background-color: rgb(170, 168, 168);
        text-align: center;
    }
}

/* ------------------------------------- */
/* tablet 규격 */
/* ------------------------------------- */
@media screen and (max-width: 797px)and (min-width: 699px){
    body{
        background-color:beige;
    }    
    .headermMasterDiv1{
        display: block;
        height: 17%;
        margin: 10px 10px 10px 10px;      
        overflow: hidden;  
    }
    .hedaerDetailDiv1{
        float: left;
        font-size: 35px; 
    }
    .hedaerDetailDiv2{
        font-size: 20px; 
        float: right;
        overflow: hidden;
    }
    .hedaerDetailDiv2 > div{
        float: left;
        padding: 10px 10px 10px 10px;
    }
    .hedaerDetailDiv2 > div:hover{        
        color: orange;
    }
    .headermMasterDiv2{
        display: none;
    }
    .bodyMasterDiv{
        height: 80%;
        position: relative;
    }
    .goolgeDiv{
        text-align: center;
        padding: 10px 0px;
        height: 5%;
        display: flex;
        font-size: 20px;
        overflow: hidden;
        justify-content: center;
    }
    .goolgeDiv > form{
        overflow: hidden;
        box-sizing: border-box;
        width: 100%;
        justify-content: center;
        display: flex;
    }
    .goolgeDiv > form > span{
        margin: 0px 10px;
        float: left;
    }
    .goolgeDiv >  form > input{
        border-radius: 10px;
        width: 35%;
        float: left;
    }
    .videoDiv{
        text-align: center;
        margin: 0 auto;
        height: 10%;
    }
    .cardMasterDiv{
        height: 330px;
    }
    .cardMaster{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cardMaster .card{
        position: absolute;
        width: 200px;
        height: 260px;
        border-radius: 8px;
        background: #5e5cfc;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 0.2);
        font-size: 8em;
        font-weight: 700;
        border: 10px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: 1s;
        transform-origin: 50% 100%;
        filter: hue-rotate(calc(var(--i) * 65deg));
        box-shadow: 0 15pc 50px rgba(0, 0, 0, 0.1);
    }
    
    .cardMaster:hover .card{
        transform: rotate(calc(var(--i) * 5deg)) translate(calc(var(--i) * 120px),-50px);
        color: rgba(0, 0, 0, 0.25);
        box-shadow: 0 15pc 50px rgba(0, 0, 0, 0.3);
    }
    .cardMaster:active .card{
        background: #333;
    
    }
    .cardMaster .card:active{
        translate: calc(var(--i)*20px) -50px;
        z-index: 100;
        background: #5e5cfc;
    }
    
    .sliedDivMaster {
        position: relative;
        overflow: hidden;        
        width: 600px;
        height: 400px;
        margin: 0 auto;
    }
    
    .sliedImageDiv {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-size: cover;
       background-position: center;
     
       animation: slider 7.5s infinite linear;
    }
    
    .sliedImageDiv:nth-child(1) {
      background-image: url(image01.jpg);
      animation-delay: 0;
    }
    .sliedImageDiv:nth-child(2) {
      background-image: url(image03.jpg);
      animation-delay: -2.5s;
    }
    .sliedImageDiv:nth-child(3) {
      background-image: url(image04.jpg);
      animation-delay: -5s;
    }
    @keyframes slider {
      0% {
        transform: translateX(0);
      }
    
      26% {
        transform: translateX(0);
      }
      33% {
        transform: translateX(-100%);
        animation-timing-function: step-end;
      }
      93% {
        transform: translateX(100%);
      }
    
      100% {
        transform: translateX(0);
      }
    }  
    .imgArrayDiv{
        height: 80%;
        width: 100%;
        overflow: hidden;
    }
    .imgDiv{
        width: 300px;
        float: left;
        /* justify-content: center; */
        padding: 10px 10px 10px 10px;
        text-align: center;
        position: relative;
        height: 250px;
    }
    .imgDiv > .mainImage{
        width: 100%;
        border-radius:15px;
    }
    .imgDiv > .bookMarkImage{
        width: 30px;
        right: 25px;
        top: 15px;
        position: absolute;
    }
    .imgDiv:hover > .bookMarkImage{
        width: 30px;
        right: 25px;
        top: 15px;
        position: absolute;
        content: url(bookMark02.png);
    }    
    .imageName{
        font-size: 30px;
        font-weight: 500;
        margin-top: 10px;
    }
    .explanation{
        font-size: 20px;
        margin-top: 10px;
    }
    .footerMsterDiv{
        width: 100%;
        height: calc(100%-97%);
        bottom: 0px;
        background-color: rgb(97, 97, 97);
    }
}
/* ------------------------------------- */
/* mobile 규격 */
/* ------------------------------------- */
@media screen and (max-width: 698px){
    body{
        background-color:cornflowerblue;
    }    
    .headermMasterDiv1{
        display: none;
        height: 17%;
        margin: 10px 10px 10px 10px;      
        overflow: hidden;  
    }
    .hedaerDetailDiv3{
        float: left;
        font-size: 35px; 
    }
    .headermMasterDiv2{
        display: block;
        height: 17%;
        margin: 10px 10px 10px 10px;      
        overflow: hidden;  
    }
    .hedaerDetailDiv4{
        float: right;
        width: 40px;
        height: 20px;
        right: 10px;
        top: 35px;
        position: absolute;
    }
    .hedaerDetailDiv4 > div{
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
        border-radius: 4px;        
        display : inline-block;
        transition : all .4s;
        box-sizing : border-box;
    }
    .hedaerDetailDiv4:hover > div{
        border-radius : 50%;
        border : 4px solid transparent;
        transition : all .75s;
    }
    .hedaerDetailDiv4:hover > div:nth-of-type(1){        
        /* -webkit-transform: translateY (10px) rotate (-45deg);
        transform: translateY(10px) rotate(-45deg); */
        -webkit-transform: translateY (10px) rotate (-615deg);
        transform: translateY(10px) rotate(-315deg);
    }
    .hedaerDetailDiv4:hover > div:nth-of-type(2){        
        opacity: 0;
    }
    .hedaerDetailDiv4:hover > div:nth-of-type(3){    
        /* -webkit-transform: translateY(-10px) rotate(45deg);
        transform: translateY(-10px) rotate(45deg); */
        -webkit-transform: translateY(-10px) rotate(315deg);
        transform: translateY(-10px) rotate(315deg);
    }
    .bodyMasterDiv{
        height: 80%;
        position: relative;
    }
    .goolgeDiv{
        text-align: center;
        padding: 10px 0px;
        height: 5%;
        display: flex;
        font-size: 20px;
        overflow: hidden;
        justify-content: center;
    }
    .goolgeDiv > form{
        overflow: hidden;
        box-sizing: border-box;
        width: 100%;
        justify-content: center;
        display: flex;
    }
    .goolgeDiv > form > span{
        margin: 0px 10px;
        float: left;
    }
    .goolgeDiv >  form > input{
        border-radius: 10px;
        width: 35%;
        float: left;
    }
    .videoDiv{
        text-align: center;
        margin: 0 auto;
        height: 10%;
    }
    .cardMasterDiv{
        height: 450px;
    }
    .cardMaster{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cardMaster .card{
        position: absolute;
        width: 180px;
        height: 240px;
        border-radius: 8px;
        background: #5e5cfc;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 0.2);
        font-size: 6em;
        font-weight: 700;
        border: 10px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: 0.5s;
        transform-origin: 50% 100%;
        filter: hue-rotate(calc(var(--i) * 45deg));
        box-shadow: 0 15pc 50px rgba(0, 0, 0, 0.1);
    }    
    .cardMaster:hover .card{
        transform: rotate(calc(var(--i) * 5deg)) translate(calc(var(--i) * 120px),-50px);
        color: rgba(0, 0, 0, 0.25);
        box-shadow: 0 15pc 50px rgba(0, 0, 0, 0.3);
    }
    .cardMaster:active .card{
        background: #333;    
    }
    .cardMaster .card:active{
        translate: calc(var(--i)*20px) -50px;
        z-index: 100;
        background: #5e5cfc;
    }
    
    
    .sliedDivMaster {
        position: relative;
        overflow: hidden;        
        width: 480px;
        height: 320px;
        margin: 0 auto;
    }
    
    .sliedImageDiv {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-size: cover;
       background-position: center;
     
       animation: slider 7.5s infinite linear;
    }
    
    .sliedImageDiv:nth-child(1) {
      background-image: url(image01.jpg);
      animation-delay: 0;
    }
    .sliedImageDiv:nth-child(2) {
      background-image: url(image03.jpg);
      animation-delay: -2.5s;
    }
    .sliedImageDiv:nth-child(3) {
      background-image: url(image04.jpg);
      animation-delay: -5s;
    }
    @keyframes slider {
      0% {
        transform: translateX(0);
      }
    
      26% {
        transform: translateX(0);
      }
      33% {
        transform: translateX(-100%);
        animation-timing-function: step-end;
      }
      93% {
        transform: translateX(100%);
      }
    
      100% {
        transform: translateX(0);
      }
    }  
    .imgArrayDiv{
        height: 80%;
        width: 100%;
        overflow: hidden;
    }
    .imgDiv{
        width: 95%;
        /* float: left; */
        justify-content: center;
        padding: 10px 10px 10px 10px;
        text-align: center;
        position: relative;
    }
    .imgDiv > .mainImage{
        width: 100%;
        border-radius:15px;
    }
    .imgDiv > .bookMarkImage{
        width: 30px;
        right: 25px;
        top: 15px;
        position: absolute;
    }
    .imgDiv:hover > .bookMarkImage{
        width: 30px;
        right: 25px;
        top: 15px;
        position: absolute;
        content: url(bookMark02.png);
    }    
    .imageName{
        font-size: 30px;
        font-weight: 500;
        margin-top: 10px;
    }
    .explanation{
        font-size: 20px;
        margin-top: 10px;
    }
    .footerMsterDiv{
        width: 100%;
        height: calc(100%-97%);
        bottom: 0px;
        background-color: rgb(97, 97, 97);
    }
    
}