
*{padding:0;margin:0}
li{list-style:none}
a{text-decoration:none;font-size:14px}

/* ------------------------------------- */
/* desktop 규격 */
/* ------------------------------------- */
@media screen and (min-width: 796px){    
    body{
        width: 100%;       
        background-color: rgb(186, 219, 248); 
    }
    .HeaderMasterDiv{
        width: 100%;
        height: 170px;
        /* position: absolute; */
        font-family: "Agbalumo", sans-serif;
    }
    .HeaderDiv{
        width: 100%;
        font-size: 50px;
        text-align: center;
        font-weight: bolder;
        margin: 30px 0px 30px 00px;
    }
    .menu {
        width: 100%;
        overflow: hidden;
        position: absolute;
    }      
    .menu > li {
      width: 20%;
      text-align: center;
      line-height: 40px;
      background-color: #5778ff;
      float: left;
      color: white;
    }    
    .menu a {
      color: #fff;
    }    
    .submenu > li {
      line-height: 50px;
      background-color: #94a9ff;
    }    
    .submenu {
      height: 0; /*ul의 높이를 안보이게 처리*/
      overflow: hidden;
    }
    .menu > li:hover {
      background-color: #94a9ff;
      transition-duration: 0.5s;
    }    
    .menu > li:hover .submenu {
      height: auto; 
      transition-duration: 1s;
    }
    .submenu > li > div:hover{
        color: black;
    }    
    .HeaderMasterDiv > div:nth-of-type(1){        
        display: block;
    }    
    .HeaderMasterDiv > div:nth-of-type(2){        
        display: none;
    }
    .contentDivMaster{
        width: 1600px;
        top: 170px;
        height: calc(100%-200px);
        /* position: absolute; */
        margin: 25px 0px 0px 25px;
    }
    .gooleDiv{
        text-align: center;
        margin-bottom: 15px;
    }
    .gooleDiv > .sform > span{
        font-size: 30px;
        font-family: "Agbalumo", sans-serif;
    }
    .gooleDiv > .sform > span:nth-of-type(1){
        color: blue;
    }
    .gooleDiv > .sform > span:nth-of-type(2){
        color: red;
    }
    .gooleDiv > .sform > span:nth-of-type(3){
        color: yellow;
    }
    .gooleDiv > .sform > span:nth-of-type(4){
        color: blue;
    }
    .gooleDiv > .sform > span:nth-of-type(5){
        color: green;
    }
    .gooleDiv > .sform > span:nth-of-type(6){
        color: red;
    }
    .gooleDiv > .sform > input{
        font-size: 30px;
        margin-left: 15px;
        border-radius: 13px;
    }
    .textContentMaster{
        margin: 0 auto;
        width: 900px;
        text-align: center;
    }
    .textContentDiv{
        width: 900px;
        height: 522px;
        background-image: url(mainHome.jpg);
        background-size: cover;
        color: white;
        padding: 25px;
    }
    .textContentDiv >div:nth-of-type(1){
        font-size: 45px;
        margin-bottom: 5px;
    }
    .textContentDiv >div:nth-of-type(2){
        font-size: 40px;
        font-family: "Agbalumo", sans-serif;
        margin-bottom: 25px;
    }
    .textContentDiv >div:nth-of-type(3){
        font-size: 20px;
    }
    .imageArrayMst{
        width: 100%;
        margin-top: 25px;
        margin-left: 100px;
        overflow: hidden;
        text-align: center;
        position: relative;
        height: 1450px;        
    }
    .imageArray{
        margin-right: 10px;        
        margin-bottom: 10px;
        width: 600px;
        height: 450px;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
        border-radius: 35px;
        border: 1px solid black;
        background-color: rgb(247, 248, 244);
    }    
    .imageArrayMst >div:nth-of-type(1){
        left: 0px;
        position: absolute;
    }
    .imageArrayMst >div:nth-of-type(2){
        position: absolute;
        left: 700px;
    }
    .imageArrayMst >div:nth-of-type(3){
        position: absolute;
        left: 0px;
        top: 470px;
    }
    .imageArrayMst >div:nth-of-type(4){
        position: absolute;
        left: 700px;
        top: 470px;
    }
    .imageArrayMst >div:nth-of-type(5){
        position: absolute;
        left: 0px;
        top: 940px;
    }
    .imageArrayMst >div:nth-of-type(6){
        position: absolute;
        left: 700px;
        top: 940px;
    }
    .bookMarkImage{
        width: 30px;
        right: 80px;
        top: 15px;
        position: absolute;
    }
    .imageArray:hover > .bookMarkImage{
        width: 30px;
        right: 80px;
        top: 15px;
        position: absolute;
        content: url(bookMark02.png);
    }
    .arrayImage{
        width: 500px;
        margin-top: 10px;
        border-radius: 15px;
    }
    .imgTitle{
        font-weight: bold;
        font-size: 22px;
    }
    .imgsubTitle{
        padding: 8px 15px 0 15px;        
    }
    .animationMst{
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .anTitle{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .animationDtl{
        justify-content: center;
    }
    .box {
        width: 100px;
        height: 100px;
        border: 2px solid black;
        background-color: rgba(255, 255, 0, 0.7);
        animation: box-ani 1s infinite; 
        margin: 0 auto;
    }    
    .cardMasterDiv{
        height: 450px;
    }
    .cardMaster{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cardMaster .card{
        position: absolute;
        width: 240px;
        height: 320px;
        border-radius: 8px;
        background: #5e5cfc;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 0.2);
        font-size: 8em;
        font-weight: 700;
        border: 10px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: 0.5s;
        transform-origin: 50% 100%;
        filter: hue-rotate(calc(var(--i) * 65deg));
        box-shadow: 0 15pc 50px rgba(0, 0, 0, 0.1);
    }    
    .cardMaster:hover .card{
        transform: rotate(calc(var(--i) * 5deg)) translate(calc(var(--i) * 120px),-50px);
        color: rgba(0, 0, 0, 0.25);
        box-shadow: 0 15pc 50px rgba(0, 0, 0, 0.3);
    }
    .cardMaster:active .card{
        background: #333;    
    }
    .cardMaster .card:active{
        translate: calc(var(--i)*20px) -50px;
        z-index: 100;
        background: #5e5cfc;
    }
    @keyframes box-ani {
        0% { transform: translate(0, 0); }
        100% { transform: translate(50px, 50px); }
    }
    .loading{
        width: 162px;
        height: 162px;
        border: 1px solid black;
        margin:  0 auto;
    }
    .loading__item::before{
        content: "";
        width: 50px;
        height: 50px;
        background-color: rgb(245, 124, 180);
        display: inline-block;
        position:relative;
        animation: loading 2s infinite cubic-bezier(0, 0, 0.04, 1.21);
    }
    @keyframes loading{
        0%{
            left: 0;
            top: 0;
        }
        20%{
            left: 110px;
            top: 0;
        }
        40%{
            left:0;
            top: 110px;
        }
        60%{
            left: 110px;
            top: 110px;
        }
        80%{
            left: 50px;
            top: 50px;
        }
        100%{
            left: 0;
            top: 0;
        }
    }
    
    .footerDiv{
        width: 100%;
        height: 30px;
        bottom: 0px;
        background-color: rgb(124, 122, 122);
        text-align: center;
        color: white;
        /* position: absolute; */
    }
}
/* ------------------------------------- */
/* tablet 규격 */
/* ------------------------------------- */
@media screen and (max-width: 795px)and (min-width: 699px){
    body{
        width: 795px;       
        background-color: rgb(164, 248, 209); 
    }
    .HeaderMasterDiv{
        width: 100%;
        height: 170px;
        /* position: absolute; */
    }
    .HeaderDiv{
        width: 100%;
        font-size: 50px;
        text-align: center;
        font-weight: bolder;
        margin: 30px 0px 30px 00px;
    }
    .menu {
        width: 100%;
        overflow: hidden;
        position: absolute;
    }      
    .menu > li {
      width: 20%;
      text-align: center;
      line-height: 40px;
      background-color: #5778ff;
      float: left;
      color: white;
    }    
    .menu a {
      color: #fff;
    }    
    .submenu > li {
      line-height: 50px;
      background-color: #94a9ff;
    }    
    .submenu {
      height: 0; /*ul의 높이를 안보이게 처리*/
      overflow: hidden;
    }
    .menu > li:hover {
      background-color: #94a9ff;
      transition-duration: 0.5s;
    }    
    .menu > li:hover .submenu {
      height: auto; 
      transition-duration: 1s;
    }
    .submenu > li > div:hover{
        color: black;
    }
    .HeaderMasterDiv > div:nth-of-type(1){        
        display: block;
    }    
    .HeaderMasterDiv > div:nth-of-type(2){        
        display: none;
    }
    .contentDivMaster{
        width: 100%;
        top: 170px;
        height: calc(100%-200px);
        /* position: absolute; */
        margin: 25px 0px 0px 25px;
    }
    .gooleDiv{
        text-align: center;
        margin-bottom: 15px;
    }
    .gooleDiv > .sform > span{
        font-size: 30px;
        font-family: "Agbalumo", sans-serif;
    }
    .gooleDiv > .sform > span:nth-of-type(1){
        color: blue;
    }
    .gooleDiv > .sform > span:nth-of-type(2){
        color: red;
    }
    .gooleDiv > .sform > span:nth-of-type(3){
        color: yellow;
    }
    .gooleDiv > .sform > span:nth-of-type(4){
        color: blue;
    }
    .gooleDiv > .sform > span:nth-of-type(5){
        color: green;
    }
    .gooleDiv > .sform > span:nth-of-type(6){
        color: red;
    }
    .gooleDiv > .sform > input{
        font-size: 30px;
        margin-left: 15px;
        border-radius: 13px;
    }    
    .textContentMaster{
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        width: 720px;
    }
    .textContentDiv{
        background-image: url(mainHome.jpg);
        background-size: cover;
        color: white;
        padding: 25px;
    }
    .textContentDiv >div:nth-of-type(1){
        font-size: 38px;
        margin-bottom: 5px;
    }
    .textContentDiv >div:nth-of-type(2){
        font-size: 40px;
        font-family: "Agbalumo", sans-serif;
        margin-bottom: 20px;
    }
    .textContentDiv >div:nth-of-type(3){
        font-size: 15px;
    }
    .imageArrayMst{
        width: 100%;
        margin-top: 15px;
        overflow: hidden;
        text-align: center;
        position: relative;
        height: 1400px;
    }
    .imageArray{
        margin-right: 10px;        
        margin-bottom: 10px;
        width: 350px;
        height: 430px;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
        border-radius: 35px;
        border: 1px solid black;
        background-color: rgb(247, 248, 244);
    }    
    .imageArrayMst >div:nth-of-type(1){
        left: 0px;
        position: absolute;
    }
    .imageArrayMst >div:nth-of-type(2){
        position: absolute;
        left: 380px;
    }
    .imageArrayMst >div:nth-of-type(3){
        position: absolute;
        left: 0px;
        top: 470px;
    }
    .imageArrayMst >div:nth-of-type(4){
        position: absolute;
        left: 380px;
        top: 470px;
    }
    .imageArrayMst >div:nth-of-type(5){
        position: absolute;
        left: 0px;
        top: 940px;
    }
    .imageArrayMst >div:nth-of-type(6){
        position: absolute;
        left: 380px;
        top: 940px;
    }
    .bookMarkImage{
        width: 30px;
        right: 40px;
        top: 15px;
        position: absolute;
    }
    .imageArray:hover > .bookMarkImage{
        width: 30px;
        right: 40px;
        top: 15px;
        position: absolute;
        content: url(bookMark02.png);
    }
    .arrayImage{
        width: 300px;
        margin-top: 10px;
        border-radius: 15px;
    }
    .imgTitle{
        font-weight: bold;
        font-size: 22px;
    }
    .imgsubTitle{
        padding: 8px 15px 0 15px;        
    }
    .animationMst{
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .anTitle{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .animationDtl{
        justify-content: center;
    }
    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        border: 2px solid black;
        background-color: rgba(255, 255, 0, 0.7);
        animation: box-ani 1s infinite; 
        margin: 0 auto;
    }    
    .cardMasterDiv{
        height: 450px;
    }
    .cardMaster{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }.cardMaster .card{
        position: absolute;
        width: 120px;
        height: 160px;
        border-radius: 8px;
        background: #5e5cfc;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 0.2);
        font-size: 6em;
        font-weight: 700;
        border: 10px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: 0.5s;
        transform-origin: 50% 100%;
        filter: hue-rotate(calc(var(--i) * 65deg));
        box-shadow: 0 15pc 50px rgba(0, 0, 0, 0.1);
    }    
    .cardMaster:hover .card{
        transform: rotate(calc(var(--i) * 5deg)) translate(calc(var(--i) * 65px),-50px);
        color: rgba(0, 0, 0, 0.25);
        box-shadow: 0 15pc 50px rgba(0, 0, 0, 0.3);
    }
    .cardMaster:active .card{
        background: #333;
    
    }
    .cardMaster .card:active{
        translate: calc(var(--i)*20px) -50px;
        z-index: 100;
        background: #5e5cfc;
    }
    @keyframes box-ani {
        0% { transform: translate(0, 0); }
        100% { transform: translate(50px, 50px); }
    }    
    .loading{
        width: 72px;
        height: 72px;
        border: 1px solid black;
        margin: 0 auto;
    }
    .loading__item::before{
        content: "";
        width: 50px;
        height: 50px;
        background-color: rgb(245, 124, 180);
        display: inline-block;
        position:relative;
        animation: loading 2s infinite cubic-bezier(0, 0, 0.04, 1.21);
    }
    @keyframes loading{
        0%{
            left: 0;
            top: 0;
        }
        25%{
            left: 25px;
            top: 0;
        }
        50%{
            left:25px;
            top: 25px;
        }
        75%{
            left: 0;
            top: 25px;
        }
        100%{
            left: 0;
            top: 0;
        }
    }
    .footerDiv{
        width: 100%;
        height: 30px;
        bottom: 0px;
        background-color: rgb(124, 122, 122);
        text-align: center;
        color: white;
    }

}

/* ------------------------------------- */
/* mobile 규격 */
/* ------------------------------------- */
@media screen and (max-width: 698px){
    body{
        width: 698px;       
        background-color: rgb(238, 247, 156); 
    }
    .HeaderMasterDiv{
        width: 100%;
        height: 170px;
        /* position: absolute; */
    }
    .HeaderDiv{
        width: 100%;
        font-size: 50px;
        text-align: center;
        font-weight: bolder;
        margin: 30px 0px 30px 00px;
    }
    .menu {
        width: 100%;
        overflow: hidden;
    }      
    .menu > li {
      width: 20%;
      text-align: center;
      line-height: 40px;
      background-color: #5778ff;
      float: left;
      color: white;
    }    
    .menu a {
      color: #fff;
    }    
    .submenu > li {
      line-height: 50px;
      background-color: #94a9ff;
    }    
    .submenu {
      height: 0; /*ul의 높이를 안보이게 처리*/
      overflow: hidden;
    }
    .menu > li:hover {
      background-color: #94a9ff;
      transition-duration: 0.5s;
    }    
    .menu > li:hover .submenu {
      height: auto; 
      transition-duration: 1s;
    }
    .submenu > li > div:hover{
        color: black;
    }
    .HeaderMasterDiv > div:nth-of-type(1){        
        display: none;
    }    
    .HeaderMasterDiv > div:nth-of-type(2){        
        display: block;
    }    
    .HeaderUlMaster > li{        
        display: block;
        background-color: #5778ff;
        overflow: hidden;
        justify-content: center;
    }
    .mobileHeaderDiv{
        float: right;
        width: 40px;
        height: 20px;
        right: 10px;
        position: absolute;
        margin-top: 10px;
    }
    .mobileHeaderDiv > div{
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
        border-radius: 4px;        
        display : inline-block;
        transition : all .4s;
        box-sizing : border-box;
    }
    .mobileHeaderDiv:hover > div{
        border-radius : 50%;
        border : 4px solid transparent;
        transition : all .75s;
    }
    .mobileHeaderDiv:hover > div:nth-of-type(1){        
        /* -webkit-transform: translateY (10px) rotate (-45deg);
        transform: translateY(10px) rotate(-45deg); */
        -webkit-transform: translateY (10px) rotate (-615deg);
        transform: translateY(10px) rotate(-315deg);
    }
    .mobileHeaderDiv:hover > div:nth-of-type(2){        
        opacity: 0;
    }
    .mobileHeaderDiv:hover > div:nth-of-type(3){    
        /* -webkit-transform: translateY(-10px) rotate(45deg);
        transform: translateY(-10px) rotate(45deg); */
        -webkit-transform: translateY(-10px) rotate(315deg);
        transform: translateY(-10px) rotate(315deg);
    }
    .choisMenu{
        margin-left: 20px;
        font-size: 25px;
        float: left;
        justify-content: center;
    }
    .mobileHeaderDiv02{
        margin-left: 35px;   
        display: block;
    }
    .HeaderUlMaster{
        /* position: relative; */
        width: 100%;
    }
    .HeaderUlMaster > li:nth-of-type(1){
        height: 50px;
    }
    .HeaderUlMaster > li:nth-of-type(2){
        display: none;
    }
    .mobileHeaderDiv:hover + .HeaderUlMaster > li:nth-of-type(2){  
        display: block;
    }
    .mobileHeaderDiv:hover + .mobileHeaderDiv02{        
        margin-left: 35px;   
        display: block;
    }
    .mobileHeaderDiv:hover > .mobileHeaderDiv02{
        display: block;        
    }
    .mobileSub{
        margin-left: 20px;        
        display: none;
    }
    .mobileHeaderDiv02 > ul > li{
        line-height: 30px;
    }
    .mobileHeaderDiv02 > ul > li:hover > .mobileSub{
        display: block;
    }

    .contentDivMaster{
        width: 100%;
        top: 170px;
        height: calc(100%-200px);
        /* position: absolute; */
        margin: 25px 0px 0px 25px;
    }
    .gooleDiv{
        text-align: center;
        margin-bottom: 15px;
    }
    .gooleDiv > .sform > span{
        font-size: 30px;
        font-family: "Agbalumo", sans-serif;
    }
    .gooleDiv > .sform > span:nth-of-type(1){
        color: blue;
    }
    .gooleDiv > .sform > span:nth-of-type(2){
        color: red;
    }
    .gooleDiv > .sform > span:nth-of-type(3){
        color: yellow;
    }
    .gooleDiv > .sform > span:nth-of-type(4){
        color: blue;
    }
    .gooleDiv > .sform > span:nth-of-type(5){
        color: green;
    }
    .gooleDiv > .sform > span:nth-of-type(6){
        color: red;
    }
    .gooleDiv > .sform > input{
        font-size: 30px;
        margin-left: 15px;
        border-radius: 13px;
    }

    .textContentMaster{
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        width: 600px;
    }
    .textContentDiv{
        background-image: url(mainHome.jpg);
        background-size: cover;
        color: white;
        padding: 25px;
    }
    .textContentDiv >div:nth-of-type(1){
        font-size: 38px;
        margin-bottom: 5px;
    }
    .textContentDiv >div:nth-of-type(2){
        font-size: 40px;
        font-family: "Agbalumo", sans-serif;
        margin-bottom: 20px;
    }
    .textContentDiv >div:nth-of-type(3){
        font-size: 15px;
    }
    
    .imageArrayMst{
        width: 100%;
        margin-top: 15px;
        overflow: hidden;
        text-align: center;
        position: relative;
        height: 2850px;
    }
    .imageArray{
        margin-right: 10px;        
        margin-bottom: 10px;
        width: 600px;
        height: 460px;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
        border-radius: 35px;
        border: 1px solid black;
        background-color: rgb(247, 248, 244);
        position: relative;
    }    
    .bookMarkImage{
        width: 30px;
        right: 75px;
        top: 20px;
        position: absolute;
    }
    .imageArray:hover > .bookMarkImage{
        width: 30px;
        right: 75px;
        top: 20px;
        position: absolute;
        content: url(bookMark02.png);
    }
    .arrayImage{
        width: 500px;
        margin-top: 10px;
        border-radius: 15px;
    }
    .imgTitle{
        font-weight: bold;
        font-size: 22px;
    }
    .imgsubTitle{
        padding: 8px 15px 0 15px;        
    }
    .animationMst{
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .anTitle{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .animationDtl{
        justify-content: center;
    }
    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        border: 2px solid black;
        background-color: rgba(255, 255, 0, 0.7);
        animation: box-ani 1s infinite; 
        margin: 0 auto;
    }    
    .cardMasterDiv{
        height: 350px;
    }
    .cardMaster{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }.cardMaster .card{
        position: absolute;
        width: 120px;
        height: 160px;
        border-radius: 8px;
        background: #5e5cfc;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 0.2);
        font-size: 4em;
        font-weight: 700;
        border: 10px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: 0.5s;
        transform-origin: 50% 100%;
        filter: hue-rotate(calc(var(--i) * 35deg));
        box-shadow: 0 15pc 50px rgba(0, 0, 0, 0.1);
    }    
    .cardMaster:hover .card{
        transform: rotate(calc(var(--i) * 5deg)) translate(calc(var(--i) * 55px),-50px);
        color: rgba(0, 0, 0, 0.25);
        box-shadow: 0 15pc 50px rgba(0, 0, 0, 0.3);
    }
    .cardMaster:active .card{
        background: #333;    
    }
    .cardMaster .card:active{
        translate: calc(var(--i)*20px) -50px;
        z-index: 100;
        background: #5e5cfc;
    }
    @keyframes box-ani {
        0% { transform: translate(0, 0); }
        100% { transform: translate(50px, 50px); }
    }
    .loading{
        width: 72px;
        height: 72px;
        border: 1px solid black;
        margin: 0 auto;
    }
    .loading__item::before{
        content: "";
        width: 50px;
        height: 50px;
        background-color: rgb(245, 124, 180);
        display: inline-block;
        position:relative;
        animation: loading 2s infinite cubic-bezier(0, 0, 0.04, 1.21);
    }
    @keyframes loading{
        0%{
            left: 0;
            top: 0;
        }
        25%{
            left: 25px;
            top: 0;
        }
        50%{
            left:25px;
            top: 25px;
        }
        75%{
            left: 0;
            top: 25px;
        }
        100%{
            left: 0;
            top: 0;
        }
    }
    .footerDiv{
        width: 100%;
        height: 30px;
        bottom: 0px;
        background-color: rgb(124, 122, 122);
        text-align: center;
        color: white;
    }
}